.contact{
    padding: 80px 0;
    .contact-card{
        border: 1px solid #f1eaea;
        padding: 20px;
        line-height: 30px;
        h4{
            color:#703F07;
            font-family: 'Dancing Script', cursive;

        }
        &:hover{
            border: 1px solid #703F07;

        }
      .contact-icon{
       padding: 10px 0;
       margin: 20px 0;
        width: 50px;
        background-color: #703F07;
        text-align: center;
        color:white;
        cursor: pointer;
        transition: 0.3s;
        &:hover{
            background-color: #F0C96A;
        }
      }  
    }
}