.cakes-sweets {
  width: 100%;
  margin: 0% auto;

  .cakes-card-wrapper {
    overflow: hidden;
    margin: 10px 0;
    position: relative;
    .cakes-card-title {
      position: absolute;
      top: 50%;
      left: 25%;
      color: white;
      z-index: 900;
      h3 {
        font-size: 35px;
        font-family: "Dancing Script", cursive;
        span {
          font-family: "Nunito Sans", sans-serif;
          font-size: 25px;
        }
      }
    }
    img {
      width: 100%;
      object-fit: cover;
      height: 60vh;
      transform: scale(1);
      transition: 0.3s ease-in;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}


