.best-sellers{
  padding: 50px 0;
  .best-sellers-wrapper { 
    padding: 40px 0;
    .product-container {
      position: relative;
      transition: 0.3s ease-in-out;
      img {
        width: 100%;
      }
      .product-name {
        margin: 10px 0;
        cursor: pointer;
        transition: 0.3s ease-in-out;
  
        &:hover {
          color: #f0c96a;
        }
      }
      .product-price {
        span {
          font-size: 18px;
          font-weight: 600;
        }
      }
      .product-overlay-image {
        position: absolute;
        top: 0%;
        left: 0%;
        visibility: hidden;
        img {
          filter: brightness(50%);
          width: 100%;
        }
      }
      .product-btns {
        position: absolute;
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, 50%);
        display: flex;
        align-items: center;
        span {
          border-radius: 50%;
          background-color: white;
          color: #663300;
          margin: 0 2px;
          padding: 6px 10px;
          font-size: 18px;
          text-align: center;
          font-weight: 600;
          transition: 0.3s;
          &:hover {
            background-color: #663300;
            color: #f0c96a;
          }
        }
      }
      &:hover {
        .product-overlay-image {
          visibility: visible;
        }
      }
    }
  }
}


.swiper-button-prev,
.swiper-button-next {
  color: lightgray !important;
  font-weight: 300 !important;
  font-size: 10px !important;
  
  &:hover {
    color: #6e481b !important;
  }
}
.swiper-button-prev {
  padding-right: 100px;
}
.swiper-button-next {
  padding-left: 100px;
}

@media screen and (max-width: 576px) {
  .swiper-container {
    width: 300;
  }
}

@media screen and (min-width: 576px) {
  .swiper-container {
    width: 576px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
}
