.MuiStepConnector-line {
    display: none !important;

  }
  .steps-order-comntainer{
    margin-top: 100px;
  }
  .MuiStepConnector-root {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.349);
  }
  
  .MuiStepConnector-active,
  .MuiStepConnector-completed {
    background-color:#703F07;
  }