.faq-hero{
    color: white;
    text-align: center;
    background-color: #030303;
    padding: 140px 0;
    text-align: center;
  margin-top: 20px;
  span{
      font-size: 17px;
  }
    h1 {
      font-family: "Dancing Script", cursive;
    }
}