.wishlist-hero {
  color: white;
  text-align: center;
  background-color: #030303;
  padding: 110px 0;
  text-align: center;
  margin-top: 40px;
  span {
    font-size: 17px;
  }
  h1 {
    font-family: "Dancing Script", cursive;
  }
}
