


.products-wrapper{
  .category-link{
    cursor: pointer;
    color: #663300;
    font-family: 'Dancing Script', cursive;
font-size: 20px;
    
font-weight: 700;
      &:hover{
        color: #F0C96A;
      }
    
  }
  fieldset{
    position: sticky;
    top: 20px;
  }
  width: 90%;
  margin: 14% auto;
  h2{
    text-align: center;
  }
  .products-titles{
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    color: #663300;
  }
.slider-products{
  color: #663300;
  font-size: 70px;
}
}