.testimotionals{
  background-image: url("https://cdn.shopify.com/s/files/1/0436/0932/5722/articles/blog-8.jpg?v=1596440930");

 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba($color: #000000, $alpha: 0.5);
.testimotionals-title{
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  font-size: 60px !important;
  padding: 150px 0;
  font-weight: 700;
}
}

@media screen and (max-width:778px) {
  .testimotionals-title{
    font-size: 20px !important;
    font-weight: 500;
}
}