.container-newcollection {
  .react-tabs {
    // background-color: white !important;
    // width: 20%;
    padding: 0%;
    border: none;
    outline: none;
  }
  .tabs-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .react-tabs__tab-list {
    padding: 20px;
    width: 100%;
    position: sticky;
    top: 100px;
    margin-bottom: 30px;
    border: 1px solid #e2e2e2;
    z-index: 1;
    background-color: white !important;
  }
  .Tabs {
    background-color: #613400!important;
    padding: 0;
    height: 5%;
    border: none;
  }
}
.coltab-panel-container {
  font-size: 15px;
  border: none !important;
}
.new-tabs {
  .coltab {
    padding: 0%;
    width: 10%;
    // background-color: none;
  }
  //     .react-tabs__tab-list{
  // width: 20%;
  //     }
  .react-tabs__tab {
    width: 10%;
  }
}
.tabs-filter {
  margin-left: 600px;
  option {
    // color: #703f07;
    &:hover {
      background-color: #f0c96a;
    }
  }
  span {
    color: black;
    font-weight: 200;
  }
  select {
    outline: none;
    // background-color: #703f07;
    z-index: 999;
    color: white;
    padding: 5px;
  }
}
.tab-panel-container{
  margin-top: 70px ;
}