.main {
  text-align: center;
  position: relative;
}
.thumbail-original {
  height: 100%;
  width: 100%;
}
.thumb-gallery-wrapper {
  h1 {
    font-family: "Dancing Script", cursive;
    color: #f0c96a;
    font-size: 80px;
    letter-spacing: 2px;
    margin: 60px 0;
  }
  position: absolute;
  top: 15%;
  left: 5%;
  width: 50%;
  text-align: right;

  a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: #f0c76e;
    }
  }
}
.flex_row {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 0 90px;
  background-image: url("https://cdn.shopify.com/s/files/1/0436/0932/5722/t/5/assets/shape.png?v=132468700125432870141646116847");
  background-repeat: no-repeat;
  height: 43vh;
  background-size: cover;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0%;
}
.image-thumbnail {
  filter: opacity(50%);
  padding-left: 5px;
}
.thumbails {
  margin-top: 40px;
}



@media screen and (max-width: 1400px) {
  .flex_row {
    background-image: none !important;
  }
  .thumb-gallery-wrapper {
    width: 90%;
    h1 {
      margin-top: 50px !important;
      font-size: 70px;
      text-align: center !important;
    }
  }
}

@media screen and (max-width: 778px) {
  .clicked {
    border: 3px solid white;
  }
  .thumb-gallery-wrapper {
    width: 90%;
    h1 {
      text-align: center !important;
      margin: 30px 0;
      font-size: 35px !important;
      padding-top: 40px;
    }
    .thumbails {
      margin-top: 20px;
    }
  }
  .thumbail {
    margin-top: 50px !important;
  }
  .thumbail-original {
    height: 70vh !important;
    width: 100%;
  }

  .flex_row {
    background-image: none !important;
  }
}

@media screen and (max-width: 998px) {
  .flex_row {
    background-image: none;
  }
  .thumbail-original {
    height: 80vh;
    width: 100%;
  }

  .hero-btn {
    width: 40%;
  }
  .thumb-gallery-wrapper {
    width: 90%;
  }
  h1 {
    margin: 30px 0;
    font-size: 50px !important;
    padding-top: 40px;
  }
}
