.servicehero {
  margin-top: 40px;
    padding: 140px 0;
  background-color: #030303;
  color: white;
  text-align: center;
span{
    font-size: 17px;
}
  h1 {
    font-family: "Dancing Script", cursive;
  }
}
