.specialites {
  padding: 30px 0;
  text-align: center;
 
  h5 {
    // padding-bottom: px ;
    color: #f0c96a;
    font-family: "Dancing Script", cursive;
    font-weight: bolder;
  }
  h6{
    color: #794C1F;
    font-family: "Dancing Script", cursive;

  }
  .specialites-info{
    margin: 50px 0;
  }
}
