.login-hero{
    margin-top: 50px;
    color: white;
    text-align: center;
    background-color: #030303;
    padding: 130px 0;
    text-align: center;
  span{
      font-size: 17px;
  }
    h1 {
      font-family: "Dancing Script", cursive;
    }
}