@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
body {
  font-family: 'Nunito Sans', sans-serif;
 
}
a{
  font-family: 'Nunito Sans', sans-serif;

}
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;

}
h2{
  font-family: 'Dancing Script', cursive;
  color: #663300;
  font-size: 55px;
  font-weight:700;
}
.main-container{
  width: 80%;
margin: 0% auto;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}




.greenColor {
  color: green !important;
}
.redColor {
  color: red !important;
}
.green-bg {
  color: pink;
}



::-webkit-scrollbar { width: 6px; }

::-webkit-scrollbar-track { background-color: transparent; }

::-webkit-scrollbar-thumb { background-color: #613400; }